* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: url('background.png') no-repeat center center fixed;
  background-size: cover;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: start;
  font-family: sans-serif;
  background: rgb(226, 229, 242);
  color: black;
  padding: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #333;
}

#msg_area {
  height: 82%;
  padding: 0 12px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

#bot {
  width: 38px;
  height: 37px;
  background: url('bot.png');
  background-size: 100%;
  border-radius: 50%;
  margin: 8px;
}

#robot {
  display: flex;
  align-items: start;
}

h3 {
  font-family: monospace;
  font-size: 15px;
  margin-top: 18px;
}

#input {
  height: 5%;
  min-height: 30px;
  display: grid;
  grid-template-columns: 90% 10%;
  margin: 8px 16px;
  border-radius: 32px;
  background: #ececee 50%;
  box-shadow: 0 1px 0 #777;
}

#text {
  outline: none;
  font-size: 15px;
  background: #ececee;
  color: #333;
  border-radius: 32px 0px 0px 32px;
  padding: 0 16px;
  border: solid 1px #777;
  border-right: none;
}

#send {
  outline: none;
  font-size: 20px;
  color: #353e89;
  background: #ececee;
  border: solid 1px #777;
  border-left: none;
  border-radius: 0 32px 32px 0;
  transition-duration: 0.2s;
}

#send:active {
  font-size: 16px;
}

.message {
  font-size: 18px;
  font-family: monospace;
  display: inline-block;
  width: auto;
  max-width: 60%;
  padding: 14px;
  word-wrap: break-word;
  margin: 8px 14px;
}

.message.user {
  color: white;
  background: #B1BEFF;
  border-radius: 16px 16px 0 16px;
  align-self: flex-end;
}

.message.bot {
  color: #333;
  background: white;
  border-radius: 0 16px 16px 16px;
  align-self: flex-start;
}

.message h3 {
  font-family: monospace;
  font-size: 15px;
  margin: 0;
  padding: 8px;
  border-radius: 8px;
  max-width: 100%; /* Ensure that the text does not break into individual characters */
  word-wrap: break-word;
  white-space: pre-wrap; /* Preserve whitespace and breaks */
}
